# Pipeline configuration for https://github.com/plantcad/plantcad-dev/pull/35

executor:
  prefix: s3://oa-plantcad-dev/pipelines/_dev_pc2_eval_20251202_r1
  force_run_failed: true

models:
  - path: kuleshov-group/PlantCaduceus_l20
    type: mlm
    context_length: 512
  - path: kuleshov-group/PlantCaduceus_l32
    type: mlm
    context_length: 512
  - path: plantcad/marin_exp1729__pcv1_600m_c512__checkpoints
    type: clm
    name: marin_llama_plantcad_600m_c512__fwd_rc_avg
    context_length: 512
    subfolder: local_store/checkpoints/plantcad-train-600m-r16-a1bc43/hf/step-26782
    motif_inference_mode: fwd_rc_avg
  - path: plantcad/marin_exp1729__pcv1_600m_c512__checkpoints
    type: clm
    name: marin_llama_plantcad_600m_c512__fwd_only
    context_length: 512
    subfolder: local_store/checkpoints/plantcad-train-600m-r16-a1bc43/hf/step-26782
    motif_inference_mode: fwd_only
  - path: plantcad/marin_exp1729__pcv1_600m_c512__checkpoints
    type: clm
    name: marin_llama_plantcad_600m_c512__rc_only
    context_length: 512
    subfolder: local_store/checkpoints/plantcad-train-600m-r16-a1bc43/hf/step-26782
    motif_inference_mode: rc_only

compute:
  device: cuda
  batch_size: 48
  num_workers: null  # Auto-detect from available GPUs

sampling:
  rate: 1.0  # Shuffle without downsampling
  max_size: 5000
  seed: 42

# Dataset splits to evaluate (task+split combinations)
splits:
  # Acceptor splice site tasks
  - task: acceptor_core_noncore_classification
    split: test_maize
  - task: acceptor_recovery
    split: test_maize

  # Conservation tasks
  - task: conservation_within_poaceae_non_tis
    split: test
  - task: conservation_within_andropogoneae
    split: test
  - task: conservation_within_poaceae_tis
    split: test

  # Donor splice site tasks
  - task: donor_core_noncore_classification
    split: test_maize
  - task: donor_recovery
    split: test_maize

  # # Translation initiation site (TIS) tasks
  - task: tis_core_noncore_classification
    split: test_maize
  - task: tis_recovery
    split: test_maize

  # # Translation termination site (TTS) tasks
  - task: tts_core_noncore_classification
    split: test_maize
  - task: tts_recovery
    split: test_maize
