# Generic plantcad-dev task configuration
name: plantcad-dev-task

# IMPORTANT: Do not set `num_nodes` for task configuration.
# All nodes must be used to execute each task and the size of the cluster will vary,
# so each task invocation must include --num-nodes N.  All nodes must be included b/c:
# - The Ray cluster used by Thalas needs to have the Sky workdir synced to every node
# - `SKYPILOT_NODE_IPS` will not necessarily include the head node when using a node subset
# - Thalas introspects on the Ray cluster through the `localhost`, i.e. it assumes execution on the head node
# num_nodes: N

envs:
  RAY_GCS_PORT: 6479
  RAY_DEDUP_LOGS: 1
  TASK_MODULE: "src.pipelines.plantcad2.evaluation.pipeline"
  TASK_CONFIG: "src/pipelines/plantcad2/evaluation/config.yaml"
  TASK_ARGS: ""
  AWS_ACCESS_KEY_ID: ""
  AWS_SECRET_ACCESS_KEY: ""
  AWS_SESSION_TOKEN: ""

workdir: .

run: |
  set -e

  # Log SkyPilot environment variables
  echo "SKYPILOT_NUM_NODES: $SKYPILOT_NUM_NODES"
  echo "SKYPILOT_NUM_GPUS_PER_NODE: $SKYPILOT_NUM_GPUS_PER_NODE"
  echo "SKYPILOT_NODE_IPS: $SKYPILOT_NODE_IPS"
  echo "SKYPILOT_NODE_RANK: $SKYPILOT_NODE_RANK"

  # Log Ray environment variables
  echo "RAY_GCS_PORT: $RAY_GCS_PORT"
  echo "RAY_DEDUP_LOGS: $RAY_DEDUP_LOGS"

  # Source tokens and other common settings
  source ~/.env

  # Run on rank 0 only as defense against accidental multi-node task execution;
  # the first node chosen for a task by SkyPilot always has rank 0 (which may be a worker)
  if [ "$SKYPILOT_NODE_RANK" == "0" ]; then

    # Infer head node IP
    # Note that `SKYPILOT_NODE_IPS` is ordered by node rank; see:
    # https://docs.skypilot.co/en/latest/running-jobs/environment-variables.html#environment-variables-for-run
    RAY_HEAD_NODE_IP=$(echo "$SKYPILOT_NODE_IPS" | head -n1)
    if [ -z "$RAY_HEAD_NODE_IP" ]; then
      echo "ERROR: RAY_HEAD_NODE_IP is not set" >&2
      exit 1
    fi

    # Avoid RAY_ADDRESS in parent env to avoid clobbering SkyPilot's RAY_ADDRESS
    RAY_GCS_ADDRESS="$RAY_HEAD_NODE_IP:$RAY_GCS_PORT"

    echo "RAY_GCS_ADDRESS: $RAY_GCS_ADDRESS"

    # Execute the pipeline in sanitized environment
    env -i \
      HOME="$HOME" \
      RAY_DEDUP_LOGS="$RAY_DEDUP_LOGS" \
      RAY_ADDRESS="$RAY_GCS_ADDRESS" \
      HUGGING_FACE_HUB_TOKEN="$HUGGING_FACE_HUB_TOKEN" \
      AWS_ACCESS_KEY_ID="$AWS_ACCESS_KEY_ID" \
      AWS_SECRET_ACCESS_KEY="$AWS_SECRET_ACCESS_KEY" \
      AWS_SESSION_TOKEN="$AWS_SESSION_TOKEN" \
      bash -c "source .venv/bin/activate && python -m ${TASK_MODULE} \
        --config_path ${TASK_CONFIG} \
        ${TASK_ARGS}"
  fi
